*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(80deg,#57abb7,#b6bed2);
    padding: 10px;
}
.todo{
    width:100%;
    max-width: 500px;
    background: #ccc0c0;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #31767f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width: 30px;
    margin-left: 10px;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(201, 201, 201);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 10px 35px;
    background: rgb(81, 115, 150);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 15px;
    padding: 12px 10px 12px 35px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY_i6IgdZyF4KQjiw4LmdXJKKratlMeTsf2w&usqp=CAU);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #31767f;
    text-decoration: line-through;
}
ul li.checked::before{
background-image: url();    

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    color: #5555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(190, 189, 192);
}
